<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<table width="100%" border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #000000;">
			<tbody>
				<tr>
					<td width="20%" align="center" valign="top">
						<img src="[LOGO]" width="90px">
					</td>
					<td width="80%" valign="top" align="left" valign="center">
						<br>
						<h1 style="line-height: 5em;">[SCHOOL_NAME]</h1>
						<p>[SCHOOL_STREET_ADDRESS]<br>
						Telp : [SCHOOL_PHONE] &sdot; Fax : [SCHOOL_FAX] &sdot; Kode Pos : [SCHOOL_POSTAL_CODE]<br>
						Email : [SCHOOL_EMAIL] &sdot; Website : [SCHOOL_WEBSITE]</p>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>[TITLE]</h3>
		<table width="100%" border="0" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #a5a5a5;">
			<tbody>
			<tr>
				<td colspan="3" align="left"><h4>Registrasi [STUDENT_TYPE]</h4></td>
			</tr>
			<tr>
				<td width="35%" align="right">Jenis Pendaftaran</td>
				<td width="5%" align="center">:</td>
				<td width="60%" align="left">[IS_TRANSFER]</td>
			</tr>
			<tr>
				<td align="right">Nomor Pendaftaran</td>
				<td align="center">:</td>
				<td align="left">[REGISTRATION_NUMBER]</td>
			</tr>
			<tr>
				<td align="right">Tanggal Pendaftaran</td>
				<td align="center">:</td>
				<td align="left">[CREATED_AT]</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			</tbody>
		</table>
		<table width="100%" cellpadding="3" cellspacing="0" style="border-bottom:1px solid #a5a5a5;">
			<tbody>
			<tr >
				<td colspan="3" align="left"><h4>Data Pribadi</h4></td>
			</tr>
			<tr>
				<td width="35%" align="right">Nama Lengkap</td>
				<td width="5%" align="center">:</td>
				<td width="60%" align="left">[FULL_NAME]</td>
			</tr>
			<tr>
				<td align="right">Jenis Kelamin</td>
				<td align="center">:</td>
				<td align="left">[GENDER]</td>
			</tr>
			<tr>
				<td align="right">Tempat Lahir</td>
				<td align="center">:</td>
				<td align="left">[BIRTH_PLACE]</td>
			</tr>
			<tr>
				<td align="right">Tanggal Lahir</td>
				<td align="center">:</td>
				<td align="left">[BIRTH_DATE]</td>
			</tr>
			<tr>
				<td align="right">Agama</td>
				<td align="center">:</td>
				<td align="left">[RELIGION]</td>
			</tr>
			<tr>
				<td align="right">Kebutuhan Khusus</td>
				<td align="center">:</td>
				<td align="left">[SPECIAL_NEEDS]</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			</tbody>
		</table>
		<table width="100%" cellpadding="3" cellspacing="0">
			<tbody>
			<tr>
				<td colspan="3" align="left"><h4>Alamat</h4></td>
			</tr>
			<tr>
				<td width="35%" align="right">Alamat Jalan</td>
				<td width="5%" align="center">:</td>
				<td width="60%" align="left">[STREET_ADDRESS]</td>
			</tr>
			<tr>
				<td align="right">RT</td>
				<td align="center">:</td>
				<td align="left">[RT]</td>
			</tr>
			<tr>
				<td align="right">RW</td>
				<td align="center">:</td>
				<td align="left">[RW]</td>
			</tr>
			<tr>
				<td align="right">Dusun</td>
				<td align="center">:</td>
				<td align="left">[SUB_VILLAGE]</td>
			</tr>
			<tr>
				<td align="right">Kelurahan / Desa</td>
				<td align="center">:</td>
				<td align="left">[VILLAGE]</td>
			</tr>
			<tr>
				<td align="right">Kecamatan</td>
				<td align="center">:</td>
				<td align="left">[SUB_DISTRICT]</td>
			</tr>
			<tr>
				<td align="right">Kabupaten</td>
				<td align="center">:</td>
				<td align="left">[DISTRICT]</td>
			</tr>
			<tr>
				<td align="right">Kode Pos</td>
				<td align="center">:</td>
				<td align="left">[POSTAL_CODE]</td>
			</tr>
			<tr>
				<td align="right">Email</td>
				<td align="center">:</td>
				<td align="left">[EMAIL]</td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			</tbody>
		</table>
		<table width="100%" cellpadding="3" cellspacing="0" border="0">
			<tbody>
			<tr>
				<td align="left">Saya yang bertandatangan dibawah ini menyatakan bahwa data yang tertera diatas adalah yang sebenarnya.</td>
			</tr>
			<tr><td></td></tr>
			<tr align="left">
				<td align="right">[FOOTER_DATE]</td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr><td align="right">[FOOTER_FULL_NAME]</td></tr>
			</tbody>
		</table>
	</body>
</html>